{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <h6>Here you can buy a stock</h6>
    <form class="form-group" action="/buy" method="post" onsubmit="buyStock">
        <input class="form-control" type="text" name="symbol" placeholder="Stock Symbol" required/>
        <input class="form-control" type="text" name="shares" placeholder="Amount Of Shares" required/><br/><br/>
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}